/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
.table th, .table td {
    vertical-align: middle;
}

.form-inline .form-group {
    margin: 0 10px 0 10px;
}

.form-inline .form-group label {
    margin-right: 10px;
}

.form-inline button {
    margin-bottom: 0;
}